<% provide(:title, 'Home') %>

<h1>Sweepstakes</h1>
<p>Win money! Lose money! YEEEEEEEEAAAAAAAAHHHHHH!!!!!!!</p>

<p><%= link_to "Create account", new_user_registration_path %></p>

<p><%= link_to "Sign in", new_user_session_path %></p>